/* Mateo Maas Esquivel */

html {
    font-size: 10px;
    background-color: wheat;
}

h4 { 
    font-family: "Open Sans Condensed", sans-serif;
    color:darkblue;
    text-shadow: 2px 2px 10px white; 
}


h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}